
h1 {

    color:purple;

}


ul{

    border: 5px dashed;
    text-align: center;
    list-style: none;
    padding-left: 0%;
    margin: auto;
}

ul li {

border: 3px outset;
display: inline-block;

}

ul{

    background-color: rgba(255, 0, 76, 0);

}

img {
height: 50%;
width: 50%;

}

.PJ {
    height: 50%;
    width: 50%;
    margin: auto;
}


.jerm {
    height: 50%;
    width: 50%;
    margin: auto;

}



